{% extends 'administracion_app/producto_marca/base.html' %}
{% load humanize %}
{% block contenedor %}
<div class="row mtop16">
    <div class="col-md-4">
        <div class="opts">
            <a href="{% url 'admin_producto_marca_agregar' %}" data-toggle="tooltip" data-placement="top" title="Agregar un nuevo seccion">
                <i class="fas fa-lightbulb"></i> Crear producto MARCA
            </a>
        </div>
    </div>
</div>
<div class="panel shadow mtop16">
    <div class="header">
        <h2 class="title">
            <i class="fas fa-box-open"></i> Productos MARCA
        </h2>
    </div>
    <div class="inside">
        {% include "administracion_app/search.html" %}
        <div class="row">
            <div class="container">
                <table class="table  table-fixed table-fixed-500">
                    <thead>
                        <tr>
                            <th style="width: 479px;">Nombre</th>
                            <th style="width: 240px;">Sección</th>
                            <th style="width: 240px;">Colección</th>
                            <th style="width: 185px;">Precio</th>
                            <th style="width: 115px;">*</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto_marca in producto_marcas %}
                        <tr style="width: 1244px;">
                            <td style="width: 479px;">
                                <a class="abscess-register" href="{% url 'admin_producto_bodega_marca_listar_imagen' producto_marca.uuid %}" title="Ver en detalle {{producto_marca.nombre}}">
                                    {{producto_marca}}
                                </a>
                            </td>
                            <td style="width: 240px;">{{producto_marca.seccion}}</td>
                            <td style="width: 240px;">{{producto_marca.coleccion}}</td>
                            <td style="width: 185px;">${{producto_marca.precio | intcomma}}</td>
                            <td style="width: 100px;">
                                <div class="opts-table">
                                    <a href="{% url 'admin_producto_bodega_marca_agregar' producto_marca.uuid %}" data-toggle="tooltip" aria-disabled="true" data-placement="top"
                                        title="Agregar articulo alproducto">
                                        <i class="fas fa-puzzle-piece"></i>
                                    </a>
                                    &nbsp;
                                    <a href="{% url 'admin_producto_bodega_marca_agregar_imagen' producto_marca.uuid %}" data-toggle="tooltip" data-placement="top" title="Agregar imagen">
                                        <i class="far fa-images"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}