{% extends 'administracion_app/producto_marca/base.html' %}
{% load crispy_forms_tags %}
{% block complemento_barra_superior %}
<a href="{% url 'admin_producto_bodega_agregar' %}">
    <i class="fas fa-lightbulb"></i> Crear producto MARCA/
</a>
{% endblock %}
{% block contenedor %}
<div class="row">
    <div class="col-md-6">
        <div class="panel shadow">
            <div class="header">
                <h2 class="title"><i class="fas fa-lightbulb"></i> Crear producto MARCA</h2>
            </div>
            <div class="inside">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="mtop16">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"
                                    title="Crear nuevo producto MARCA.">Crear</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}