{% load humanize %}
<div class="panel shadow">
    <div class="header">
        <h2 class="title"><i class="fas fa-puzzle-piece"></i> Detalles de producto MARCA</h2>
    </div>
    <div class="inside">
        <table class="table table-fixed table-fixed-200">
            <thead>
                <tr>
                    <th style="width: 400px;">Articulo</th>
                    <th style="width: 232px;">Cantidad</th>
                    <th style="width: 232px;">Costo</th>
                    <th style="width: 66px;">*</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles %}
                <tr style="width: 915px;">
                    <td style="width: 400px;">{{detalle.producto_bodega_referencia}} - {{detalle.producto_bodega}}</td>
                    <td style="width: 232px;">{{detalle.cantidad}}</td>
                    <td style="width: 232px;">${{detalle.costo | intcomma}}</td>
                    <td style="width: 51px;">
                        <div class="opts-table">
                            <a title="Remover un articulo"
                                href="{% url 'admin_producto_bodega_marca_eliminar_detalle_' detalle.producto_bodega_uuuid detalle.producto_marca_uuid %}"><i
                                    class="fas fa-minus"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>