{% extends 'administracion_app/producto_bodega/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block complemento_barra_superior %}
<a href="{% url 'admin_producto_bodega_detalle_agregar' producto_bodega.uuid %}">
    <i class="fas fa-plus"></i> Registrar articulo en el inventario/
</a>
{% endblock %}
{% block contenedor %}
<div class="row">
    <div class="col-md-4">
        {% include 'administracion_app/producto_bodega/producto/producto_bodega.html' %}
    </div>
    <div class="col-md-4">
        <div class="panel shadow">
            <div class="header">
                <h2 class="title"><i class="fas fa-plus"></i> Registrar ingreso de mercanciá</h2>
            </div>
            <div class="inside">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="mtop16">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"
                                    title="Registrar mercanciá al inventario.">Registrar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% include 'administracion_app/producto_bodega/detalle/listar_agregar.html' %}
    </div>
</div>
{% endblock %}