{% extends 'administracion_app/seccion/base.html' %}
{% block contenedor %}
<div class="row mtop16">
    <div class="col-md-4">
        <div class="opts">
            <a href="{% url 'admin_seccion_agregar' %}" data-toggle="tooltip" data-placement="top"
                title="Agregar un nuevo seccion">
                <i class="fas fa-plus"></i> Agregar nueva seccion
            </a>
        </div>
    </div>
</div>
<div class="panel shadow mtop16">
    <div class="header">
        <h2 class="title">
            <i class="far fa-folder"></i> Secciones
        </h2>
    </div>
    <div class="inside">
        {% include "administracion_app/search.html" %}
        <div class="container-scroll">
            <div class="scroll row">
                {% for seccion in secciones %}
                <div class="col-md-3">
                    <div class="card mtop16" style="width: 18rem;">
                        <div class="card-header">
                            <a class="abscess-register" href="{% url 'admin_seccion_modificar' seccion.uuid %}"
                                data-toggle="tooltip" data-placement="top" title="Modificar registro">
                                <i class="{{ seccion.icono }}"></i> {{ seccion.nombre }}
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ seccion.descripcion}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}