{% extends 'administracion_app/bodega/base.html' %}
{% load crispy_forms_tags %}
{% block complemento_barra_superior %}
<a href="{% url 'admin_bodega_modificar' bodega.uuid %}">
    <i class="fas fa-edit"></i> Modificar bodega/
</a>
{% endblock %}
{% block contenedor %}
<div class="row">
    <div class="col-md-4">
        <div class="panel shadow">
            <div class="header">
                <h2 class="title"><i class="fas fa-edit"></i> Modificar Bodega</h2>
            </div>
            <div class="inside">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="mtop16">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"
                                    title="Modificar bodega">Guardar cambios</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}